<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Chat Demo</title>
	<link rel="stylesheet" href="css.css">
</head>
<body ng-app="git-chat">
	<div class="left">
		<div class="logo">
			<a href="#"><img src="#" alt="GChat" height="58"></a>
		</div>
		<ul class="tabs" ng-controller="list">
			<li id="lobby" ng-class="{'active':!activeItem}" >
				<a href="#" ng-click="setActive(null)">Lobby</a>
			</li>
			<li ng-repeat="room in list" class="ng-cloak" ng-class="{'active':room.active}" >
				<a href="#" ng-click="setActive(room)">{{room.name}}</a>
			</li>
			<li><pre>{{list | json}}</pre></li>
		</ul>
		<div class="status">
			<a href="#">Status</a>
		</div>
	</div>

	<div class="right">
		<div id="panel-lobby">
			Awesome Stuff!
		</div>
		<div id="panel-proj">
			Git stuff
			Samba Stuff
			Proj Admin
				Change meta
				change proj name
			Guest access
		</div>
		<div id="panel-room">
			Who is a member / status / last seen
			guest access
		</div>
		<div id="panel-user">
			IDK
		</div>
	</div>

	<div class="main" ng-controller="hist">
		<pre>{{msgs | json}}</pre>
	</div>

	<div class="input" ng-controller="send">
		<form name="messageForm" ng-submit="send">
			<textarea autocomplete="off" id="message_input" ng-enter="send()" ng-model="msg"></textarea>
		</form>
	</div>

	<script src="/socket.io/socket.io.js"></script>
	<script src="/angular.min.js"></script>
	<script src="js.js"></script>
</body>
</html>

